In [4]:
from django_pandas.io import read_frame

In [1]:
from apiv1.models import Station

In [2]:
import os

In [3]:
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

In [6]:
df_stations = read_frame(Station.objects.all())

In [7]:
station_ids = [1362, 1279]

In [10]:
df_stations

,id,station_id,station_name,lon,lat,tabelog_url,top10_avarage_score,num_shop
0,1,21764,黒磯,140.060204,36.970128,None,NaN,NaN
1,2,21785,高久,140.087346,36.996572,None,NaN,NaN
2,3,21765,黒田原,140.119586,37.022848,None,NaN,NaN
3,4,21802,豊原,140.155066,37.055014,None,NaN,NaN
4,5,22828,東京,139.766103,35.681391,https://tabelog.com/tokyo/A1302/A130201/R6586/...,3.942,2997.0
...,...,...,...,...,...,...,...,...
1856,1857,29728,公園下,139.045639,35.249944,None,NaN,NaN
1857,1858,29729,公園上,139.043167,35.249083,None,NaN,NaN
1858,1859,29730,中強羅,139.040556,35.248167,None,NaN,NaN
1859,1860,29731,上強羅,139.038056,35.247306,None,NaN,NaN
1860,1861,29732,早雲山,139.035611,35.246444,None,NaN,NaN

In [8]:
candidate_stations = df_stations.query("station_id in @station_ids")

In [9]:
candidate_stations

Empty DataFrame
Columns: [id, station_id, station_name, lon, lat, tabelog_url, top10_avarage_score, num_shop]
Index: []

In [19]:
stations_master = list(Station.objects.all())

In [20]:
for s in stations_master:
    break

In [22]:
s.num_shop

In [16]:
len(stations_master)

1861

In [17]:
import Levenshtein

In [79]:
for _, row in crawl.iterrows():
    station_name = row['name'].replace("駅", "")
    qs = Station.objects.filter(station_name=station_name)
    if qs.exists():
        station = list(qs)[0]
        station.tabelog_url = row['tabelog_url']
        station.top10_avarage_score = row['top10_avarage_score']
        station.num_shop = row['num_shop']
        station.save()

In [23]:
Station.objects.filter(tabelog_url__isnull=True).count()

1261

In [24]:
Station.objects.filter(tabelog_url__isnull=False).count()

600