In [1]:
import os

In [2]:
import pandas as pd
from dotenv import load_dotenv

In [3]:
load_dotenv("../.env");

In [4]:
station = pd.read_csv("../master_data/station20200619free.csv")

In [5]:
available_prefs = [8, 9, 10, 11, 12, 13, 14]

In [27]:
available_stations = station.drop_duplicates("station_g_cd").query("pref_cd in @available_prefs")

In [5]:
import requests

In [8]:
url = "http://api.ekispert.jp/v1/json/station"

In [9]:
name = available_stations['station_name'].tolist()[0]

In [10]:
bsae_payloads = dict(type="train", limit=1, key=os.environ["EKISPORT_KEY"])

In [6]:
from time import sleep
from tqdm import tqdm

In [ ]:
station_cd_name = {}

In [14]:
for i, row in tqdm(available_stations.iterrows()):
    station_cd = row["station_cd"]
    if station_cd in station_cd_name:
        continue
    
    station_name = row["station_name"]
    payloads = {"name": station_name, **bsae_payloads}
    res = requests.get(url, params=payloads).json()
    try:
        station_cd_name[station_cd] = res["ResultSet"]['Point']['Station']['code']
    except KeyError:
        print(f"error {station_name}")
    sleep(0.5)

0it [00:00, ?it/s]

error 空港第２ビル（第２旅客ターミナル）

577it [00:00, 600.43it/s]

error 成田空港（第１旅客ターミナル）

596it [00:01, 88.04it/s]

error 空港第２ビル（第２旅客ターミナル）

621it [00:02, 64.04it/s]

error 成田空港（第１旅客ターミナル）
error 鹿島サッカースタジアム（臨）

632it [00:03, 21.16it/s]

error 押上〈スカイツリー前〉

872it [00:04, 29.44it/s]

error 獨協大学前〈草加松原〉

1199it [01:47,  1.47it/s]

error 空港第２ビル（第２旅客ターミナル）

1200it [01:48,  1.49it/s]

error 成田空港（第１旅客ターミナル）

1201it [01:48,  1.48it/s]

error 押上（スカイツリー前）

1236it [02:13,  1.41it/s]

error 空港第２ビル（第２旅客ターミナル）

1237it [02:14,  1.44it/s]

error 成田空港（第１旅客ターミナル）

1294it [02:58,  1.02it/s]

error 新線新宿

1686it [07:52,  1.39it/s]

error 明治神宮前〈原宿〉

1726it [08:21,  1.18it/s]

error 押上〈スカイツリー前〉

1760it [08:46,  1.36it/s]

error 明治神宮前〈原宿〉

1847it [09:55,  1.38it/s]

error 押上（スカイツリー前）

2174it [13:59,  1.44it/s]

error 鉾田

2176it [14:00,  1.45it/s]

error 巴川

2177it [14:01,  1.30it/s]

error 借宿前

2178it [14:03,  1.06s/it]

error 榎本

2179it [14:04,  1.04s/it]

error 玉造町

2181it [14:06,  1.07s/it]

error 八木蒔

2182it [14:07,  1.04it/s]

error 桃浦

2183it [14:08,  1.14it/s]

error 小川高校下

2184it [14:09,  1.22it/s]

error 常陸小川

2185it [14:09,  1.28it/s]

error 四箇村

2186it [14:10,  1.32it/s]

error 新高浜

2187it [14:11,  1.34it/s]

error 玉里

2188it [14:11,  1.36it/s]

error 東田中

2189it [14:12,  1.39it/s]

error 石岡南台

2205it [14:26,  1.07it/s]

error 鹿島サッカースタジアム（臨）

2465it [17:52,  2.30it/s]

In [28]:
available_stations["station_id"] = available_stations["station_cd"].map(station_cd_name)

In [36]:
available_stations = available_stations.dropna(subset=["station_id"])

In [40]:
available_stations["station_id"] = available_stations["station_id"].astype(int)

<ipython-input-40-ec57f4f98003>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available_stations["station_id"] = available_stations["station_id"].astype(int)

In [44]:
pd.DataFrame.duplicated?

In [43]:
available_stations["station_id"].duplicated?

Object `duplicated` not found.

In [47]:
available_stations = available_stations.drop_duplicates(subset=['station_id'])

In [48]:
available_stations.head()

,station_cd,station_g_cd,station_name,station_name_k,station_name_r,line_cd,pref_cd,post,address,lon,lat,open_ymd,close_ymd,e_status,e_sort,station_id
1177,1123101,1123101,黒磯,NaN,NaN,11231,9,325-0056,那須塩原市本町,140.060204,36.970128,0000-00-00,0000-00-00,0,1123101,21764
1178,1123102,1123102,高久,NaN,NaN,11231,9,325-0001,那須郡那須町大字高久甲西久保７２０-４,140.087346,36.996572,0000-00-00,0000-00-00,0,1123102,21785
1179,1123103,1123103,黒田原,NaN,NaN,11231,9,329-3222,那須郡那須町大字寺子丙,140.119586,37.022848,0000-00-00,0000-00-00,0,1123103,21765
1180,1123104,1123104,豊原,NaN,NaN,11231,9,329-3213,那須郡那須町大字豊原,140.155066,37.055014,0000-00-00,0000-00-00,0,1123104,21802
1262,1130101,1130101,東京,NaN,NaN,11301,13,100-0005,東京都千代田区丸の内一丁目,139.766103,35.681391,0000-00-00,0000-00-00,0,1130101,22828

In [51]:
available_stations[['station_id', 'station_name', 'lon', 'lat']].sort_values("station_id")

      station_id station_name         lon        lat
1888       20325           千歳  139.966378  34.991701
7875       21358           中川  139.569846  35.562973
1721       21579           赤塚  140.415248  36.381755
7864       21580         阿字ヶ浦  140.612440  36.383529
1712       21582          荒川沖  140.165920  36.030552
...          ...          ...         ...        ...
7735       29776    ソシオ流通センター  139.424333  36.136500
7744       29777        ふかや花園  139.251472  36.132056
5256       29784  東武ワールドスクウェア  139.709083  36.808333
2156       29791  あしかがフラワーパーク  139.518611  36.315167
1311       29818     高輪ゲートウェイ  139.740700  35.635500

[1861 rows x 4 columns]

In [50]:
available_stations[['station_id', 'station_name', 'lon', 'lat']].to_csv("stations.csv", index=False)

In [189]:
%store available_stations

Stored 'available_stations' (DataFrame)

In [7]:
%store -r available_stations

In [8]:
station_ids = [22828, 22715]
station_id = station_ids[0]

In [9]:
from geopy import distance

In [11]:
halfway_coords

(35.670131, 139.73367050000002)

In [13]:
candidate_stations = available_stations.query("station_id in @station_ids")
halfway_coords = candidate_stations['lat'].mean(), candidate_stations['lon'].mean()
ds = []
for coords in available_stations[['lat', 'lon']].values:
    d = distance.distance(halfway_coords, coords.tolist())
    ds.append(d)
available_stations['distance'] = ds

In [50]:
for i, row in available_stations.iterrows():
    break

In [54]:
row[['station_id', 'station_name']].drop("station_name")

station_id    21764
Name: 1177, dtype: object

In [14]:
from requests_html import HTMLSession
import re
session = HTMLSession()
url = "https://roote.ekispert.net/ja/result"
base_params = dict(
    hour=12,
    locale="ja",
    minute10=0,
    minute1=0,
    sort="time"
)

In [15]:
from requests_html import AsyncHTMLSession
asession = AsyncHTMLSession()

In [36]:
def partial_get_time(arr_station_id, dep_station_id):
    params = dict(**base_params, arr_code=arr_station_id, dep_code=dep_station_id)
    async def get_time():
        res = await asession.get(url, params=params)
        target_text = res.html.find('.candidate_list_txt > .orange_txt', first=True).text
        time = int(re.search(r'（\D*(\d+)分）', target_text).groups()[0])
        return arr_station_id, time
    return get_time

In [25]:
import nest_asyncio
nest_asyncio.apply()

In [49]:
station_ids

[22828, 22715]

In [46]:
results = []
for _, row in available_stations.sort_values('distance')[['station_id', 'station_name', 'distance']].head(10).iterrows():
    candidate_station_id = row['station_id']
    result = dict(candidate_station_id=candidate_station_id)
    for station_id in station_ids:
        staion_times = asession.run(*[partial_get_time(station_id, candidate_station_id) for station_id in station_ids])
        result['staion_times'] = [dict(station_id=t[0], time=t[1]) for t in staion_times]
        times = [r['time'] for r in result['staion_times']]
        sum_ = sum(times)
        diff = max(times) - min(times)
        result['indicater'] = sum_ + diff
    results.append(result)
    
results = sorted(results, key=lambda result: result['indicater'])